Serialise UTC timezone as “Z” in .to_rfc3339()

When a DateTime<FixedOffset> has the offset being UTC, serialise it into “Z” instead of “+00:00” as it is the canonical way.

[Section 4.3 of RFC 3339](https://tools.ietf.org/html/rfc3339#section-4.3) pretty explicitly states that `Z` and `+00:00` are semantically equivalent:

> ... an offset of "Z" or "+00:00", which imply that UTC is the preferred reference point for the specified time.

Sometimes I prefer `Z` for my timezones, but normally for human consumption, `+00:00` is more consistent with other offsets. The [`format`](https://docs.rs/chrono/0.3.0/chrono/datetime/struct.DateTime.html#method.format) method is the right thing to use if you're displaying for humans.

We don't seem to have something that will automatically emit either a Z or an offset, is that something that comes up for you often?

It was just that I see it used way more often, and it is also shorter, I don’t really mind it either way but it seemed more sensible to use Z than +00:00 or -00:00.
I just had to change my testcases in xmpp-parsers to use +00:00 compared to the specification examples I was importing, but that’s not much of a justification: https://hg.linkmauve.fr/xmpp-parsers/file/tip/src/delay.rs#l105

Fair enough, I also see Z used more often.

I'm going to close this, but I would accept a pr that implements a `.to_rfc3339z()` method, since I agree it's a nice shorthand and, since the current behavior is perhaps a bit surprising I expect a different method would highlight the output format of the existing method.

Oh, nvm I don't have rights to close tickets. @lifthrasiir how do you feel about my proposed resolution, above?

aaaannnnd now I understand how github works.