[RFE] Support for HTTP date format

It would be very handy to be able to parse dates used in HTTP headers. Quoting https://tools.ietf.org/html/rfc2616#section-3.3:
```
   HTTP applications have historically allowed three different formats
   for the representation of date/time stamps:

      Sun, 06 Nov 1994 08:49:37 GMT  ; RFC 822, updated by RFC 1123
      Sunday, 06-Nov-94 08:49:37 GMT ; RFC 850, obsoleted by RFC 1036
      Sun Nov  6 08:49:37 1994       ; ANSI C's asctime() format
```
It seems that `GMT` is the only supported time zone:
```
   All HTTP date/time stamps MUST be represented in Greenwich Mean Time
   (GMT), without exception. For the purposes of HTTP, GMT is exactly
   equal to UTC (Coordinated Universal Time). This is indicated in the
   first two formats by the inclusion of "GMT" as the three-letter
   abbreviation for time zone, and MUST be assumed when reading the
   asctime format.
```
See also https://github.com/chronotope/chrono/issues/288#issuecomment-437605289 and [the httpdate crate](https://crates.io/crates/httpdate).

[`DateTime::parse_from_rfc2822`](https://docs.rs/chrono/0.4.7/chrono/struct.DateTime.html#method.parse_from_rfc2822) works for the first one, at least in my usage of it.

Agreed `rfc2822` is the successor to rfc 822, which is referenced as the canonical time specification for HTTP. I'll update the docs to mention it, though.

What about the other two formats? I think I've seen all of them in the wild..

Ah, yeah I misred that. Unfortunately I don't think that Chrono is necessarily the right place to implement that kind of multimatch logic, and something like the httpdate crate is the right place to look. I would be willing and happy to accept a pr that demonstrated that it _is_ possible to implement this logic in Chrono without surprising performance or a particularly horrible implementation. For now I'm going to leave this closed but I will update the docs further to point out the logic needs to be more complex.

I'm willing to hear other points or receive PRs, though.